<%- include("../partials/header.ejs") %>
<div class="container">
	

<header class="jumbotron">
	<div class="container">
		
	
	<h1>
		Welcome to Yelpcamp
	</h1>
	<p>
		Our handpicked campgrounds
	</p>
	<p>
		<a class="btn btn-primary btn-lg" href="/campgrounds/new">Create New Campground</a>
	</p>
		</div>
</header>
	<!-- <div class="row">
		<h3>
			Some of our popular campgrounds !
		</h3>
	</div> -->
	<div class="raw text-center" style="display: flex; flex-wrap: wrap;">
		<% campgrounds.forEach(function(campground){ %>
		<div class="col-md-3 col-sm-6">
			<div class="thumbnail">
				<img src="<%= campground["url"] %>" >
			</div>
			<div class="caption">
				<h4>
					<%= campground["name"] %>
				</h4>
			</div>
			<p>
				<a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More info</a>
			</p>
		</div>
	
		<% }); %>
		</div>
</div>
<%- include("../partials/footer.ejs") %>